target/
!.mvn/wrapper/maven-wrapper.jar
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.metadata

### NetBeans ###
nbproject/private/
build/
nbbuild/
nbdist/

*.class
Test.java
main.log
logs
sync-*/src/test
*.log

*-dev.properties
*-dev.yml
*-dev.xml


