<?xml version="1.0" encoding="UTF-8"?>

<configuration status="INFO" monitorInterval="60">
    <Properties>
        <Property name="log.path">logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1.} [line-%line] - %msg%n" disableAnsi="false" noConsoleNoAnsi="false"/>
        </Console>

        <RollingFile name="RollingFile" fileName="${log.path}/main.log" filePattern="${log.path}/main.%i.log">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}][%-5level][%F:%L] - %m%n"/>
            <SizeBasedTriggeringPolicy size="64MB"/>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="ratingAssetLog" fileName="${log.path}/ratingAssetLog.${application.start.time}.log">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%m%n"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFile"/>
        </Root>
        <logger name="ratingAssetLog" additivity="false" level="info">
            <appender-ref ref="ratingAssetLog"/>
        </logger>
    </Loggers>
</configuration>