<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dbapp.extension.ai.mapper.AIAnomalyAnalysisMapper">

    <delete id="deleteAiAnalysisData">
        DELETE
        FROM ailpha_ai_analysis_data
        WHERE model_id = #{modelId}
    </delete>

    <insert id="saveAiAnalysisData">
        INSERT INTO ailpha_ai_analysis_data (id,
                                             original_data,
                                             ui_data,
                                             create_time,
                                             model_id,
                                             algorithm_id)
        VALUES
        <foreach collection='list' item='data' index='index' separator=',' nullable="true">
            (#{data.id,            jdbcType=VARCHAR},
             #{data.originalData,  jdbcType=LONGVARCHAR},
             #{data.uiData,        jdbcType=LONGVARCHAR},
             #{data.createTime,    jdbcType=BIGINT},
             #{data.modelId,       jdbcType=VARCHAR},
             #{data.algorithmId,   jdbcType=VARCHAR} )
        </foreach>
    </insert>

    <delete id="deleteAIAnalysisDataNotInModelIds">
        DELETE FROM ailpha_ai_analysis_data
        <where>
            <if test='modelIds != null and modelIds.size() > 0'>
                model_id NOT IN
                <foreach collection='modelIds' item='modelId' open='(' close=')' separator=',' nullable="true">
                    #{modelId}
                </foreach>
            </if>
        </where>
    </delete>

</mapper>
