<?xml version="1.0" encoding="UTF-8"?>

<configuration status="INFO" monitorInterval="60">
    <Properties>
        <Property name="log.path">logs</Property>
        <Property name="hostname">${ctx:hostname}</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1.} - %msg%n}{STYLE=Logback}"/>
        </Console>

        <RollingFile name="RollingFile" fileName="${log.path}/main.${hostname}.log" filePattern="${log.path}/main.${hostname}.%i.log">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}][%-5level][%F:%L] - %m%n" />
            <SizeBasedTriggeringPolicy size="64MB"/>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="errorLog" fileName="${log.path}/error.${hostname}.log" filePattern="${log.path}/error.${hostname}.%i.log">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}][%-5level][%F:%L] - %m%n" />
            <SizeBasedTriggeringPolicy size="64MB" />
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <appender-ref ref="Console" />
            <appender-ref ref="RollingFile" />
            <appender-ref ref="errorLog" />
        </Root>
        <!--<logger name="BigdataApi" level="debug"/>-->
    </Loggers>
</configuration>